.popup {
  text-align: center;
  width: 220px;
  height: 220px;
}

.heading {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  margin-top: 0.7em;
  margin-bottom: 0;
  padding: 0;
}

.subtitle {
  color: #ffffffcb;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-top: 2px;
  padding: 0 0.8em 0 0.8em;
}

.caption {
  color: #ffffffaf;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  margin-top: 2em;
  padding: 0 0.8em 0.1em 0.8em;
}

.toggle {
  padding: 0 0.8em 0 0.8em;
}
